extends base

block content
    h2 Enter secret passcode

    p Clubhouse has a secret passcode. Enter it to get privileged user rights.

    form.form(action="" method="POST")
        input(type="password", name="secret" placeholder="secret passcode")
        button
            a.button.disabled Enter passcode
